#windows > .appWindow,
#windows > .activityWindow {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  left: 0;
  top: 2rem;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;

  transform: translateX(0);
}

@media not all and (-moz-physical-home-button) {
  #screen:not(.software-button-disabled) > #windows > .appWindow {
    bottom: 5rem;
  }
}

.appWindow[transition-state="closed"]:not(.fadeout):not(.homescreen) {
  opacity: 0;
}

#screen.software-button-enabled #windows > .appWindow {
  bottom: 5rem;
}

#windows > .appWindow:not(.homescreen) {
  background-color: black;
}

#windows > .appWindow:not(.homescreen).render {
  background-image: none !important;
  background-color: transparent;
}

.appWindow > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.appWindow.navigation:not(.rocketbar) > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: calc(100% - 1rem);
}

.appWindow.rocketbar:not(.navigation) > iframe {
  position: absolute;
  top: 5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 5rem);
}

.appWindow.navigation.rocketbar > iframe {
  position: absolute;
  top: 5rem;
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: calc(100% - 6rem);
}


#windows > .appWindow:not(.homescreen).render > iframe {
  background-color: #fff;
}

#screen.active-statusbar > #windows > .appWindow,
#screen.active-statusbar > #windows > .appWindow.fullscreen-app {
  top: 4rem;
  height: calc(100% - 4rem);
}

.appWindow.enlarge {
  pointer-events: auto;
  animation: openApp 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

#windows > .appWindow.transition-closing.perpendicular {
  animation-duration: 0.1s;
}

#windows > .appWindow.from-cardview {
  animation: openAppFromCardView 0.15s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

/* Opacity increases start up time then we don't use it anymore for opening */
@keyframes openApp {
  0%   { transform: scale(0.2);}
  100% { transform: scale(1.0);}
}

#windows > .appWindow.zoom-in {
  transform: scale(1);
  animation: zoom-in 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

@keyframes zoom-in {
  0%   { transform: scale(1); }
  100% { transform: scale(5); }
}

@keyframes openAppFromCardView {
  0%   { transform: scale(0.8); }
  100% { transform: scale(1.0); }
}

.appWindow.invoked {
  animation: invokedApp 0.6s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

.appWindow.invoking {
  animation: invokingApp 0.6s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

/* Invoking app moves out */
@keyframes invokingApp {
  0%   { transform: translateX(0); opacity: 1 }
  100% { transform: translateX(-20%); opacity: 0.25}
}

/* Invoked app moves in */
@keyframes invokedApp {
  0%   { transform: translateX(100%); }
  50%  { transform: translateX(0); }
}

#windows.slow-transition > .appWindow.transition-closing,
#windows.slow-transition > .appWindow.transition-opening {
  animation-duration: 3s;
}

#windows > .appWindow.transition-closing,
#windows > .appWindow.transition-opening {
  /* The animation takes .3 seconds so users cannot touch the app while the
   * closing animation is performing */
  pointer-events: none;
}

#windows > .appWindow.reduce {
  animation: closeApp 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

#windows > .appWindow.transition-closing.perpendicular {
  animation-duration: 0.1s;
}

#windows > .appWindow.zoom-out {
  transform: scale(5);
  animation: zoom-out 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

@keyframes zoom-out {
  0%   { transform: scale(5);}
  100% { transform: scale(1);}
}

/* Generally transitions, except when going into rocketbar manager */
#screen:not(.task-manager) #windows > .appWindow.to-cardview {
  animation: closeAppTowardsCardView 0.15s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

/* Prebuild width/height */
#screen:not(.active-statusbar):not(.software-button-enabled):not(:-moz-full-screen-ancestor) > #windows > .appWindow:not(.fullscreen-app),
.appWindow.homescreen {
  top: 2rem;
  height: calc(100% - 2rem);
  width: 100%;
}

#screen:not(.active-statusbar):not(.software-button-enabled) > #windows > .appWindow.fullscreen-app {
  height: 100%;
  width: 100%;
}

#screen.active-statusbar:not(.software-button-enabled):not(:-moz-full-screen-ancestor) > #windows > .appWindow {
  top: 4rem;
  height: calc(100% - 4rem);
  width: 100%;
}

#screen.active-statusbar.software-button-enabled:not(:-moz-full-screen-ancestor) > #windows > .appWindow {
  top: 4rem;
  bottom: 5rem;
  height: calc(100% - 5rem - 4rem);
  width: 100%;
}

#screen.software-button-enabled:not(:-moz-full-screen-ancestor) > #windows > .appWindow {
  top: 2rem;
  bottom: 5rem;
  height: calc(100% - 5rem - 2rem);
  width: 100%;
}

#screen.software-button-enabled:not(.active-statusbar) > #windows > .appWindow.fullscreen-app {
  top: 0;
  bottom: 5rem;
  height: calc(100% - 5rem);
  width: 100%;
}

@keyframes closeApp {
  0%   { transform: scale(1.0); opacity: 1;}
  100% { transform: scale(0.01); opacity: 0;}
}

@keyframes closeAppTowardsCardView {
  0%   { transform: scale(1.0); }
  100% { transform: scale(0.8); }
}

.appWindow.back {
  transition: transform 0.25s cubic-bezier(0.7, 0.0, 1.0, 1.0), visibility 0.25s cubic-bezier(0.7, 0.0, 1.0, 1.0);
  transform: scale(0.86);
}

.appWindow.restored {
  transform: none;
  transition: transform 0.25s cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

#screen > #windows > .appWindow.fullscreen-app {
  top: 0;
}

.appWindow > iframe {
  z-index: 1;
  visibility: visible;
}

.appWindow > .contextmenu {
  z-index: 2;
}

.appWindow > .modal-dialog {
  z-index: 3;
}

.appWindow > .authentication-dialog {
  z-index: 4;
}

.appWindow > .chrome {
  z-index: 5;
}

.appWindow > .fade-overlay {
  background-color: black;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1024;
}

.appWindow.fadeout > .fade-overlay {
  display: block;
}

.appWindow > .modal-dialog,
.appWindow > .authentication-dialog,
.authentication-dialog > .authentication-dialog-http {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.appWindow > .contextmenu {
  display: none;
}

.appWindow > .modal-dialog.visible,
.appWindow > .contextmenu.visible,
.appWindow > .authentication-dialog.visible,
.authentication-dialog > .authentication-dialog-http.visible {
  display: block;
}

.appWindow > .modal-dialog > form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
}

.appWindow > .modal-dialog input {
  border-radius: 0.2rem;
  height: 4rem;
  font-size: 2rem;
  width: 100%;
  color: white;
  background: none;
  -moz-box-sizing: border-box;
}

.appWindow > .modal-dialog > form.visible {
  display: block;
}

.appWindow > form[role="dialog"][data-type="action"],
.appWindow > form[role="dialog"][data-type="object"] {
  top: 2rem;
}

.appWindow > .screenshot-overlay {
  z-index: -1;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.appWindow > .screenshot-overlay.visible {
  z-index: 2;
  visibility: visible;
}

.appWindow > iframe.hidden {
  visibility: hidden;
}

/* inline activity */


/* animation */

#windows > .activityWindow.slideleft {
  animation: slideLeft 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

#windows > .activityWindow.slideright {
  animation: slideRight 0.3s forwards cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

@keyframes slideLeft {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slideRight {
  0%   { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

/* Edges */
#screen.edges #windows > .appWindow {
  box-shadow: -0.5rem 0 rgba(0, 0, 0, 0.5);
}

#windows > .appWindow.inside-edges {
  opacity: 1;
  transform: translateX(0);
}

#windows > .appWindow.outside-edges-left {
  opacity: 0.25;
  transform: translateX(-20%);
}

#windows > .appWindow.outside-edges-right {
  opacity: 1;
  transform: translateX(calc(100% + 1rem));
}

#screen:-moz-full-screen-ancestor > #windows > .appWindow.active {
  top: 0;
  height: 100%;
}
