.pin-dialog {
  -moz-box-sizing: padding-box;
  padding: 0 2rem;
  font-size: 1.4em;
}

.pin-dialog > div {
  margin-top: 1rem;
}

.pin-dialog .error {
  font-size: 1.2rem;
}

.pin-dialog .error .sim-messageHeader {
  color: red;
}

.pin-dialog .sim-code-area {
  font-size: 1.4rem;
}

/**
 * Simcard manager
 */
#sim-manager ul li p {
  padding-bottom: 0;
}
#sim-card-container .sim-card {
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 0;
  height: 8rem;
}
#sim-card-container .sim-card:last-child {
  border-bottom: 0;
}
.sim-manager-select-list li {
  height: 11.3rem;
}
#sim-manager-security-entry {
  height: 6rem;
}
#sim-manager-security-desc {
  color: #6D7374;
}
#sim-manager-security-entry[aria-disabled="true"] {
  opacity: 0.6;
  pointer-events: none;
}
#sim-manager-security-entry p[data-href="#simpin"] {
  line-height: 3rem;
}
.sim-manager-select-list .explanation {
  font-size: 1.2rem;
  font-style: normal;
  color: #6d7374;
  padding: 0 1.5rem;
}
.sim-manager-select-list p {
  line-height: 2.1rem;
}
/**
 *  For data li
 */
.sim-manager-select-list li:last-child {
  height: auto;
  margin-bottom: 1rem;
}
.sim-manager-select-list li:last-child .explanation {
  white-space: normal;
}
.sim-card {
  clear: both;
}
.sim-card.sim-card-0 .sim-card-icon {
  background-position: 0 0;
}
.sim-card.sim-card-1 .sim-card-icon {
  background-position: 0 -3rem;
}
.sim-card.sim-card-0.locked .sim-card-icon {
  background-position: -3rem 0;
}
.sim-card.sim-card-1.locked .sim-card-icon {
  background-position: -3rem -3rem;
}

.sim-card.with-number .information-container {
  padding-top: 1.7rem;
}

/*
 * information-container is used to achieve grey-out effect
 */
.sim-card.enabled .information-container {
  opacity: 1;
}

.sim-card.absent .sim-card-icon,
.sim-card.locked .sim-card-icon {
  opacity: 0.4;
}

/*
 * no matter sim is enabled or not, if locked, will change its opacity
 * so the CSS loading precedence is important.
 */
.sim-card.locked .information-container {
  opacity: 0.4;
}

.sim-card.absent .information-container {
  opacity: 0.4;
}

.sim-card .information-container {
  padding-top: 2.5rem;
  opacity: 0.4;
}

.sim-card-icon {
  float: left;
  width: 3rem;
  height: 3rem;
  margin: 2.5rem 1rem;
  background-image: url(images/simcards.png);
}
.sim-card-name {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0;
}
.sim-card-number,
.sim-card-operator {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0;
  color: #6d7374;
}
