/* Common/framework styling */

.collapsed {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#cardContainer,
#cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  transition-delay: 0s;

}

.card.anim-up center {
  transform: translateX(0);
}

.card.no-anim {
  -moz-transition-property: none;
}

.card.center {
  transform: translateX(0);
}

.card.center.anim-vertical {
  transform: translateY(0);
}

.card.before {
  transform: translateX(-100%);
}

.card.before.anim-vertical {
  transform: translateY(100%);
}

.card.after {
  transform: translateX(100%);
}

.card.after.anim-vertical {
  transform: translateY(-100%);
}


.card.center.card-folder-picker,
.card.center.card-account-picker,
.card.card-account-picker {
  width: calc(100% - 5em);
}

.card.center.card-folder-picker + .card.after {
  transform: translateX(calc(100% - 5em));
}

.form-card {
  overflow: auto;
}

.top-header {
  background: -moz-linear-gradient(to top, #ffffff 0, #a3a3a3 0.5rem, #992f21 0.5rem, #992f21 0.6rem, #bb492d 0.6rem, #cc6523 100%);
  height: 5.2rem;
  width: 100%;
  padding: 0;
  padding-bottom: 0.6rem;
  z-index: 999;
}
.top-header.top-edit-header {
  background: url("images/ui/dark_header.png") repeat-x scroll left top transparent;
  background-size: auto 5.2rem;
  /*background: -moz-linear-gradient(to top, #ffffff 0, #a3a3a3 0.5rem, #888888 0.5rem, #999999 0.6rem, #bbbbbb 0.6rem, #cccccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,  #cccccc), color-stop(100%, #bbbbbb));*/
}

.header-label {
  color: white;
  line-height: 5.2rem;
  margin: 0 0 0 4rem;
  font-size: 2.2rem;
  font-weight: normal;
}

.header-btn, .header-left-btn, .header-right-btn {
  position: absolute;
  top: 0;
  height: 5.2rem;
  width: 3.2rem;
  border: none;
  background: none;
  font-size: 2.4rem;
}

.header-left-btn {
  left: 0;
  background: url("images/ui/separator-large.png") no-repeat scroll 3rem center transparent;
  background-size: auto 100%;
}

.header-right-btn {
  right: 0;
  background: url("images/ui/separator.png") no-repeat scroll 0 center transparent;
  width: 5rem;
}

.scrollregion {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollregion-below-header {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 5.8rem + 0.5rem);
  will-change: scroll-position;
}

.scrollregion-below-header.scrollregion-horizontal-too {
  overflow-x: auto !important;
}

.bottom-toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

.bottom-btn {
  height: 4rem;
  border: none;
  width: 6rem;
  background: transparent no-repeat center / 3rem !important;
  margin: 0 calc((100% - 25rem) / 8);
}
.bottom-btn.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.popup {
  position: absolute;
  margin: 0;
}
.popup-mask {
  pointer-events: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  width: 26rem;
  padding: 0.8rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  background-color: white;
}

.menu-item {
  padding: 0.4rem;
  font-size: 160%;
  border-bottom: 0.1rem solid gray;
  display: block;
}

.menu-item:last-child {
  border-bottom: none;
}

.highlight {
  background-color: #f3f3D3;
}

.icon-download {
  background: url("images/icons/download.png") no-repeat center / 3rem;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*Disabled a tag style extend*/
section[role="region"] > header:first-child menu[type="toolbar"] a[aria-disabled="true"] {
  pointer-events: none;
}

/* Toaset banner extend class */
section[role="status"].customized {
  bottom: 4.8rem;
  opacity: 1;
  padding-left: 3.2rem;
}

section[role="status"].fadeout {
  -moz-transition: opacity 500ms ease;
  opacity: 0;
}

section[role="status"][title="undo"] p,
section[role="status"][title="retry"] p {
  max-width: 65% !important;
}

section[role="status"] .toaster-cancel-btn {
  height: 8rem;
}

section[role="status"] .toaster-banner-undo,
section[role="status"] .toaster-banner-retry {
  display: none;
  margin: 1rem;
  width: auto;
}

section[role="status"][title="undo"] .toaster-banner-undo,
section[role="status"][title="retry"] .toaster-banner-retry {
  display: inline;
}


/*
These folder-depth* styles are here instead of folder_cards.css
because they are also used by the value_selector for showing
the list of folders. folder-item specific styles so that these
paddings override other styles in folder_cards.css
*/
.fld-folder-item.fld-folder-depth0,
.fld-folder-depth0 {
  padding-left: 1.5rem;
}
.fld-folder-item.fld-folder-depth1,
.fld-folder-depth1 {
  padding-left: 3rem;
}
.fld-folder-item.fld-folder-depth2,
.fld-folder-depth2 {
  padding-left: 4.5rem;
}
.fld-folder-item.fld-folder-depth3,
.fld-folder-depth3 {
  padding-left: 6rem;
}
.fld-folder-item.fld-folder-depth4,
.fld-folder-depth4 {
  padding-left: 6.5rem;
}
.fld-folder-item.fld-folder-depth5,
.fld-folder-depth5 {
  padding-left: 9.5rem;
}
.fld-folder-item.fld-folder-depth6,
.fld-folder-depthmax {
  padding-left: 11rem;
}
