#stopwatch-panel {
  text-align: center;
}

.stopwatch-time {
  margin: 4rem 0 1rem 0;

  color: #CFE2E6;
  font-weight: lighter;
  font-variant-numeric: tabular-nums;
  font-size: 8.6rem;
  letter-spacing: -0.5rem;
  pointer-events: none;
}

#stopwatch-controls {
  width: 100%;
  margin: 0px 0.5rem 0px -2.5rem;
}

#stopwatch-controls button {
  float: left;

  width: 45%;
  margin: 0 1rem 0 0;
}

.stopwatch-laps {
  position: absolute;
  bottom: 0rem;

  width: 90%;
  height: calc(100% - 23rem);
  padding: 0 1.5rem 0 1.5rem;

  background-color: transparent;
  background-image: none;
  overflow-y: auto;
}

.stopwatch-laps li.lap-cell {
  position: relative;

  display: block;
  height: 4.5rem;
  padding: 1.5rem 0 0 0;
  border-top: 1px solid rgba(115, 125, 128, 0.2);
  
  color: #CFE2E6;
  font: 2.5rem sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

.lap-name {
  float: left;
}

.lap-duration {
  float: right;
  font-variant-numeric: tabular-nums;
  font-weight: lighter;
}

@media (min-width: 768px) {
  #stopwatch-controls {
    width: auto;
  }

  #stopwatch-controls button {
    float: none;
    width: 40%;
  }
}
