<element name="about-yourPrivacy" extends="section">
  <template>

    <header>
      <button type="reset">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <h1 data-l10n-id="your-privacy-header"> Your privacy </h1>
    </header>

    <div>
      <header>
        <h2> Mozilla </h2>
      </header>
      <ul>
        <li>
          <a class="privacy-menuitem privacy-browserOS" href="https://www.mozilla.org/privacy/firefox-os/" data-l10n-id="brandShortName">B2G OS</a>
        </li>
        <li>
          <a class="privacy-menuitem privacy-marketPlace" href="https://marketplace.firefox.com/privacy-policy">Marketplace</a>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="about-other"> Other </h2>
      </header>
      <ul>
        <li>
          <a class="privacy-menuitem privacy-everythingME" href="http://corp.everything.me/privacy">everything.me</a>
        </li>
      </ul>
    </div>

  </template>
</element>
