<element name="about-legal" extends="section">
  <template>

    <header>
      <a href="#about">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="about-legal-info-header"> Legal information </h1>
    </header>

    <div>
      <header>
        <h2 data-l10n-id="about-mozilla"> Mozilla </h2>
      </header>
      <ul>
        <li>
          <a href="#about-licensing" data-l10n-id="open-source-notices">
            Open source notices
          </a>
        </li>
        <li>
          <a href="#about-source-code" data-l10n-id="obtaining-source-code">
            Obtaining source code
          </a>
        </li>
      </ul>

      <header hidden>
        <h2 data-l10n-id="about-other"> Other </h2>
      </header>
    </div>

  </template>
</element>
