<element name="about-source-code" extends="section">
  <template>

    <header>
      <a href="#about-legal">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="obtaining-source-code-header">
        Obtaining source code
      </h1>
    </header>
    <iframe src="resources/obtaining_source_code.html" id="obtain-sc"></iframe>

  </template>
</element>
