<element name="about-moreInfo" extends="section">
  <template>

    <header>
      <button type="reset">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <h1 data-l10n-id="more-info-header"> More information </h1>
    </header>

    <div>
      <ul>
        <li>
          <small data-name="deviceinfo.os"></small>
          <span data-l10n-id="os-version"> OS version </span>
        </li>
        <li>
          <small data-name="deviceinfo.firmware_revision"></small>
          <span data-l10n-id="firmware_revision"> Firmware revision </span>
        </li>
        <li>
          <small data-name="deviceinfo.hardware"></small>
          <span data-l10n-id="hardware_revision"> Hardware revision </span>
        </li>
        <li>
          <small data-name="deviceinfo.mac"></small>
          <span data-l10n-id="macAddress"> MAC address </span>
        </li>
        <li>
          <small id="deviceInfo-imei"></small>
          <span data-l10n-id="deviceInfo-IMEI"> IMEI </span>
        </li>
        <li>
          <small id="deviceInfo-iccid"></small>
          <span data-l10n-id="deviceInfo-ICCID"> ICCID </span>
        </li>
        <li>
          <small data-name="deviceinfo.platform_version"></small>
          <span data-l10n-id="platform_version"> Platform version </span>
        </li>
        <li>
          <small data-name="deviceinfo.platform_build_id"></small>
          <span data-l10n-id="build-id"> Build identifier </span>
        </li>
        <li>
          <small data-name="deviceinfo.update_channel"></small>
          <span data-l10n-id="update-channel"> Update channel </span>
        </li>
        <li>
          <small data-name="deviceinfo.bt_address"></small>
          <span data-l10n-id="bluetooth-address"> Bluetooth address </span>
        </li>
        <li>
          <label>
            <button id="reset-phone" data-l10n-id="reset-phone">Reset phone</button>
          </label>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="gitInfo"> Git commit info </h2>
      </header>
      <ul>
        <li>
          <small id="gaia-commit-hash"></small>
          <span id="gaia-commit-date"></span>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="devSettings"> Developer settings </h2>
      </header>
      <ul>
        <li>
          <label>
            <button class="icon icon-view"
                    data-href="#about-moreInfo-developer"
                    data-l10n-id="developer">
              Developer
            </button>
          </label>
        </li>
      </ul>
    </div>

    <form role="dialog" data-type="confirm" id="reset-phone-dialog" hidden>
      <section>
        <h1 data-l10n-id="reset-warning-title">CAUTION</h1>
        <p data-l10n-id="reset-warning-body">
          Resetting will erase all your data, including any apps you’ve purchased. The phone will be restored to its factory condition. None of your settings or data will be saved.
        </p>
      </section>
      <menu>
        <button data-l10n-id="cancel" id="cancel-reset-phone">Cancel</button>
        <button data-l10n-id="reset" id="confirm-reset-phone" class="danger">Reset</button>
      </menu>
    </form>

    <script src="js/about_more_info.js"></script>
    <script src="js/factory_reset.js"></script>

  </template>
</element>
