<element name="about-licensing" extends="section">
  <template>

    <header>
      <a href="#about-legal">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="open-source-notices-header">
        Open source notices
      </h1>
    </header>

    <iframe data-src="resources/open_source_license.html" id="os-license"></iframe>

  </template>
</element>
