<element name="about" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="deviceInfo-header"> Device information </h1>
    </header>

    <div>
      <ul>
        <li id="deviceinfo-phone-num">
          <small id="deviceInfo-msisdn"></small>
          <span data-l10n-id="deviceInfo-MSISDN"> Phone number </span>
        </li>
        <li>
          <small data-name="deviceinfo.hardware"></small>
          <span id="model-name" data-l10n-id="model-name"> Model </span>
        </li>
        <li>
          <small data-name="deviceinfo.software"></small>
          <span id="os-version" data-l10n-id="software"> Software </span>
        </li>
        <li>
          <small id="last-update-date"></small>
          <span data-l10n-id="last-updated"> Last updated </span>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#about-moreInfo"
              data-l10n-id="more-info"> More information </button>
          </label>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="softwareUpdates"> Software updates </h2>
      </header>
      <ul>
        <li>
          <p data-l10n-id="check-for-updates">Check for updates</p>
          <span class="button icon icon-dialog">
            <select name="app.update.interval">
              <option value="86400"   data-l10n-id="check-update-daily" selected>Daily</option>
              <option value="604800"  data-l10n-id="check-update-weekly">Weekly</option>
              <option value="2592000" data-l10n-id="check-update-monthly">Monthly</option>
            </select>
          </span>
        </li>
        <li>
          <label>
            <button id="check-update-now"
              data-l10n-id="check-update-now"> Check now </button>
          </label>
        </li>
        <li id="update-status" class="description update-status">
          <p>
            <span class="general-information"
              data-l10n-id="checking-for-update">Checking for updates…</span>
            <span class="system-update-status"></span>
          </p>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="aboutBrowserOS"> About browser OS </h2>
      </header>
      <ul>
        <li class="description">
          <p data-l10n-id="browser-os-desc">
            Browser OS is the free and open source operating system from Mozilla.
            Our mission is to promote openness, innovation and opportunity by
            keeping the power of the Web in your hands.
          </p>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#about-yourRights"
              data-l10n-id="your-rights"> Your rights </button>
          </label>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#about-yourPrivacy"
              data-l10n-id="your-privacy"> Your privacy </button>
          </label>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#about-legal"
              data-l10n-id="about-legal-info"> Legal information </button>
          </label>
        </li>
      </ul>
    </div>

    <script src="js/about.js"></script>

  </template>
</element>
