<element name="appPermissions-details" extends="section">
  <template>

    <header>
      <a href="#appPermissions"><span class="icon icon-back">back</span></a>
      <h1> </h1>
    </header>

    <div>
      <header id="developer-header">
        <h2 data-l10n-id="author">Author</h2>
      </header>
      <ul>
        <li id="developer-infos">
          <small><a target="_blank" href="http://github.com/mozilla-b2g/gaia/" data-href="http://github.com/mozilla-b2g/gaia/">http://github.com/mozilla-b2g/gaia/</a></small>
          <a target="_blank" data-href="http://github.com/mozilla-b2g/gaia/"> The Gaia team </a>
        </li>
      </ul>

      <header id="permissionsListHeader">
        <h2 data-l10n-id="permissions">Permissions</h2>
      </header>
      <ul>
      </ul>

      <header>
        <h2 data-l10n-id="uninstallApp">Uninstall app</h2>
      </header>
      <button id="uninstall-app" data-l10n-id="uninstallApp" class="danger">Uninstall app</button>
    </div>

  </template>
</element>
