<element name="applicationStorage" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="appStorage-header"> Application storage </h1>
    </header>

    <div>
      <ul>
        <li>
          <progress id="apps-space-bar" min="0" value="0" max="100"></progress>
        </li>

        <li>
          <a data-l10n-id="apps-total-space"> Total space
            <span id="apps-total-space"></span>
          </a>
        </li>
        <li>
          <a data-l10n-id="apps-used-space"> Used
            <span id="apps-used-space"></span>
          </a>
        </li>
        <li>
          <a data-l10n-id="apps-free-space"> Left
            <span id="apps-free-space"></span>
          </a>
        </li>
        <li class="description two-column-description">
          <p data-l10n-id="storage-details">
            Photos, videos and music are stored separately from apps. See media storage for details.
          </p>
        </li>
      </ul>
    </div>
    <script src="js/app_storage.js"></script>

  </template>
</element>
