<element name="battery" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="battery-header"> Battery </h1>
    </header>

    <div>
      <ul>
        <li>
          <a id="battery-level" data-l10n-id="batteryLevel">Current battery life
            <span></span>
          </a>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="powerSaveMode">Power save mode</h2>
      </header>
      <ul>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="powersave.enabled" class="uninit">
            <span data-l10n-id="powerSaveMode">Power save mode</span>
          </label>
        </li>
        <li>
          <p data-l10n-id="turnOnAuto">Turn on automatically</p>
          <span class="button icon icon-dialog">
            <select name="powersave.threshold">
              <option value="0.05" data-l10n-id="powerSave-threshold" data-l10n-args='{"level":  "5"}'> 5% battery left</option>
              <option value="0.15" data-l10n-id="powerSave-threshold" data-l10n-args='{"level": "15"}'>15% battery left</option>
              <option value="0.25" data-l10n-id="powerSave-threshold" data-l10n-args='{"level": "25"}'>25% battery left</option>
              <option value="-1" data-l10n-id="never">Never</option>
            </select>
          </span>
        </li>
        <li class="description">
          <p data-l10n-id="powerSave-explanation">
            Turning on Power Save Mode turns off the phone’s Data, Bluetooth, and
            Geolocation connections to extend battery life. You can still turn these
            services back on manually.
          </p>
        </li>
      </ul>
    </div>

  </template>
</element>
