<element name="call-pin2-dialog" extends="section">
  <template>

    <header>
      <button type="reset">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <menu type="toolbar">
      <button data-l10n-id="done" type="submit">Done</button>
      </menu>
      <h1></h1>
    </header>

    <div class="pin-dialog">
      <div class="sim-errorMsg error" hidden>
        <div class="sim-messageHeader"></div>
        <span class="sim-messageBody"></span>
      </div>
      <div class="sim-triesLeft" data-l10-id="inputCodeRetriesLeft" hidden></div>

      <div class="sim-code-area sim-pinArea">
        <div data-l10n-id="simPin2">SIM PIN2</div>
        <input type="password" x-inputmode="digit" size="8" maxlength="8" />
      </div>

      <div class="sim-code-area sim-pukArea">
        <div data-l10n-id="puk2Code">PUK2 code</div>
        <input type="password" x-inputmode="digit" size="8" maxlength="8" />
      </div>

      <div class="sim-code-area sim-newPinArea">
        <div data-l10n-id="newSimPin2Msg">
          Create PIN2 (must contain 4 to 8 digits)
        </div>
        <input type="password" x-inputmode="digit" size="8" maxlength="8" />
      </div>

      <div class="sim-code-area sim-confirmPinArea">
        <div data-l10n-id="confirmNewSimPin2Msg">
          Confirm new PIN2
        </div>
        <input type="password" x-inputmode="digit" size="8" maxlength="8" />
      </div>
    </div>

  </template>
</element>
