<element name="carrier" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="cellularAndData-header"> Cellular &amp; data </h1>
    </header>

    <div>
      <ul>
        <li>
          <small id="dataNetwork-desc"></small>
          <span data-l10n-id="dataNetwork">Carrier</span>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="dataConnectivity"> Data connectivity </h2>
      </header>
      <ul>
        <li id="menuItem-enableDataCall" aria-disabled="true">
          <label class="pack-switch">
            <input type="checkbox" name="ril.data.enabled" class="uninit">
            <small id="dataConnection-desc"></small>
            <span data-l10n-id="dataConnection">Data connection</span>
          </label>
        </li>
        <li id="dataConnection-expl" class="explanation" data-l10n-id="dataConnection-warning-message" hidden></li>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="ril.data.roaming_enabled" class="uninit">
            <span data-l10n-id="dataRoaming">Data roaming</span>
          </label>
        </li>
        <li id="dataRoaming-expl" class="explanation" data-l10n-id="dataRoaming-warning-message" hidden></li>
      </ul>

      <header>
        <h2 data-l10n-id="advancedSettings"> Advanced settings </h2>
      </header>
      <ul>
        <li>
          <label>
            <button class="icon icon-view" data-href="#carrier-operatorSettings"
              data-l10n-id="networkOperator"> Network operator </button>
          </label>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#carrier-dataSettings"
              data-l10n-id="dataSettings">Data settings</button>
          </label>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#carrier-mmsSettings"
              data-l10n-id="messageSettings">Message settings</button>
          </label>
        </li>
        <li>
          <label>
            <button class="icon icon-view" data-href="#carrier-suplSettings"
              data-l10n-id="suplSettings">A-GPS settings</button>
          </label>
        </li>
      </ul>
    </div>

    <script src="js/carrier.js"></script>

  </template>
</element>
