<element name="carrier-dc-warning" extends="section">
  <template>

    <form role="dialog" data-type="confirm">
      <section>
        <h1>
          <span data-l10n-id="dataConnection-warning-head">Turn on data connection?</span>
        </h1>
        <p>
          <small data-l10n-id="dataConnection-warning-message">
            Applications will automatically fetch data via data connection
             when required. Additional data charges may apply.
          </small>
        </p>
      </section>
      <menu>
        <button type="reset" data-l10n-id="notNow">Not now</button>
        <button type="submit" class="recommend" data-l10n-id="turnOn">Turn on</button>
      </menu>
    </form>

  </template>
</element>
