<element name="carrier-operatorSettings" extends="section">
  <template>

    <header>
      <a href="#carrier"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="networkOperator-header"> Network operator </h1>
    </header>

    <div id="carrier-operatorSettings-content">
      <ul>
        <li>
          <p data-l10n-id="operator-networkType">Network type</p>
          <span class="button icon icon-dialog">
            <select id="preferredNetworkType">
            </select>
          </span>
        </li>
        <li id="operator-roaming-preference">
          <p data-l10n-id="operator-roamingPreference">Roaming preference</p>
          <span class="button icon icon-dialog">
            <select id="operator-roaming-preference-selector">
              <option data-l10n-id="operator-roamingPreference-home" value="home">Home</option>
              <option data-l10n-id="operator-roamingPreference-any" value="any">Any</option>
            </select>
          </span>
        </li>
        <li id="operator-autoSelect">
          <label class="pack-switch">
            <input type="checkbox" data-ignore>
            <small></small>
            <span data-l10n-id="operator-autoSelect">Automatic selection</span>
          </label>
        </li>
      </ul>

      <header id="availableOperatorsHeader">
        <h2 data-l10n-id="availableOperators"> Network operators in the area </h2>
      </header>
      <ul id="availableOperators" data-state="off">
        <li class="explanation" data-state="off" data-l10n-id="operator-turnAutoSelectOff">
          Turn Automatic Selection off to view available network operators.
        </li>
        <li class="explanation" data-state="on" data-l10n-id="scanning">
          Searching…
        </li>
        <li data-state="ready">
          <label>
            <button data-l10n-id="scanNetworks">Search again</button>
          </label>
        </li>
      </ul>
    </div>

    <form role="dialog" data-type="confirm" id="preferredNetworkTypeAlert" hidden>
      <section>
        <h1 data-l10n-id="preferredNetworkTypeAlertTitle">Preferred network type</h1>
        <p>
          <strong id="preferredNetworkTypeAlertMessage"></strong>
        </p>
      </section>
      <menu>
        <button class="full" data-l10n-id="continue">Continue</button>
      </menu>
    </form>

    <script src="shared/js/settings_helper.js"></script>

  </template>
</element>
