<element name="carrier-dr-warning" extends="section">
  <template>

    <form role="dialog" data-type="confirm">
      <section>
        <h1>
          <span data-l10n-id="dataRoaming-warning-head">Turn on data roaming?</span>
        </h1>
        <p>
          <small data-l10n-id="dataRoaming-warning-message">
            Depending on your service agreement, significant roaming charges
            may apply for data usage when you are in the roaming area.
          </small>
        </p>
      </section>
      <menu>
        <button type="reset" data-l10n-id="notNow">Not now</button>
        <button type="submit" class="recommend" data-l10n-id="turnOn">Turn on</button>
      </menu>
    </form>

  </template>
</element>
