<element name="display" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="display-header"> Display </h1>
    </header>

    <div>
      <ul>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="screen.orientation.lock" class="uninit">
            <span data-l10n-id="lock-orientation">Lock screen orientation</span>
          </label>
        </li>
      </ul>

      <header id="wallpaper-header">
        <h2 data-l10n-id="wallpaper">Wallpaper</h2>
      </header>
      <div id="wallpaper">
        <img id="wallpaper-preview" alt="wallpaper preview"/>
        <button id="wallpaper-button"></button>
      </div>
      <header>
        <h2 data-l10n-id="brightness">Brightness</h2>
      </header>
      <ul>
        <li id="brightness-auto">
          <label class="pack-checkbox">
            <input type="checkbox" name="screen.automatic-brightness" checked>
            <span data-l10n-id="brightness-autoAdjust">Adjust automatically</span>
          </label>
        </li>
        <li id="brightness-manual">
          <label>
            <input type="range" name="screen.brightness" step="0.01" min="0.1" value="0.5" max="1" />
            <span class="range-icons brightness"></span>
          </label>
        </li>
        <li id="screen-timeout">
          <p data-l10n-id="screen-timeout">Screen timeout</p>
          <span class="button icon icon-dialog">
            <select name="screen.timeout" data-value-type="integer">
              <option value="60"  data-l10n-id="one-minute" selected>1 minute</option>
              <option value="120" data-l10n-id="two-minutes"> 2 minutes</option>
              <option value="300" data-l10n-id="five-minutes">5 minutes</option>
              <option value="600" data-l10n-id="ten-minutes">10 minutes</option>
              <option value="0"   data-l10n-id="never">Never</option>
            </select>
          </span>
        </li>
      </ul>
    </div>

    <script src="shared/js/omadrm/fl.js"></script>
    <script src="js/display.js"></script>
    <script src="js/wallpaper.js"></script>

  </template>
</element>
