<element name="doNotTrack" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="doNotTrack-header"> Do not track </h1>
    </header>

    <div>
      <ul>
        <li class="description">
          <label class="pack-radio">
            <input type="radio" name="privacy.donottrackheader.value" value="1">
            <span data-l10n-id="doNotTrackActions">Tell websites and apps that I do not want to be tracked</span>
          </label>
        </li>
        <li class="description">
          <label class="pack-radio">
            <input type="radio" name="privacy.donottrackheader.value" value="0">
            <span data-l10n-id="allowTracking">Tell websites and apps that I want to be tracked</span>
          </label>
        </li>
        <li class="description">
          <label class="pack-radio">
            <input type="radio" name="privacy.donottrackheader.value" value="-1">
            <span data-l10n-id="doNotHavePrefOnTracking">Do not tell websites and apps anything about my tracking preferences</span>
          </label>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="doNotTrack-dt">How does Do Not Track work?</h2>
      </header>
      <ul>
        <li class="description">
          <p data-l10n-id="doNotTrack-dd1">
            When you turn on the Do Not Track feature, your device tells every
            website and app (as well as advertisers and other content providers)
            that you don’t want your behavior tracked.
          </p>
          <p data-l10n-id="doNotTrack-dd2">
            Turning on Do Not Track won’t affect your ability to log into
            websites, nor cause your device to forget your private information —
            such as the contents of shopping carts, location information, or
            log-in information.
          </p>
          <a href="http://dnt.mozilla.org" data-l10n-id="learn-more" class="link-text">Learn more</a>
        </li>
      </ul>
    </div>

    <script src="js/do_not_track.js"></script>
  </template>
</element>
