<element name="help" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="help"></h1>
    </header>

    <div>
      <ul>
        <li class="support-info">
          <span id="online-support-link" data-l10n-id="online-support"> Online support:
            <span id="online-support-text"></span>
          </span>
        </li>
        <li class="support-info">
          <span id="call-support-link" data-l10n-id="call-support"> Call support:
            <span id="call-support-numbers"></span>
          </span>
        </li>
        <li>
          <label>
            <button data-l10n-id="user-guide"> User guide </button>
          </label>
        </li>
        <li class="no-support-info description" data-l10n-id="default-support">
          Please contact your local provider for support.
        </li>
      </ul>
    </div>

    <script src="js/support.js"></script>

  </template>
</element>
