<element name="homescreen-details" extends="section">
  <template>

    <header>
      <a href="#homescreen"><span class="icon icon-back">back</span></a>
      <h1> </h1>
    </header>
    <div>
      <header>
        <h2 class="description" data-l10n-id="description">Description</h2>
      </header>
      <p></p>
      <header>
        <h2 data-l10n-id="changeHomescreen">Change homescreen</h2>
      </header>
      <button id="change-homescreen" data-l10n-id="changeHomescreenButton">Change</button>
    </div>

  </template>
</element>
