<element name="hotspot-wifiSettings" extends="section">
  <template>

    <header>
      <button type="reset"><span data-l10n-id="back" class="icon icon-back">Back</span></button>
      <menu type="toolbar">
        <button type="submit"><span data-l10n-id="ok">OK</span></button>
      </menu>
      <h1 data-l10n-id="hotspotSettings-header"> Hotspot settings </h1>
    </header>

    <div>
      <ul>
        <li>
          <p data-l10n-id="ssid-name">SSID Network Name</p>
          <input type="text" data-setting="tethering.wifi.ssid" />
        </li>
        <li>
          <p data-l10n-id="wifi-security">Security</p>
          <span class="button icon icon-dialog">
            <select class="security-selector" data-setting="tethering.wifi.security.type">
              <option value="open" data-l10n-id="hotspot-open">open</option>
              <option value="wpa-psk" data-l10n-id="hotspot-wpa-psk">WPA (TKIP)</option>
              <option value="wpa2-psk" data-l10n-id="hotspot-wpa2-psk">WPA2 (AES)</option>
            </select>
          </span>
        </li>
        <li class="description password-description">
          <p data-l10n-id="hotspot-password-desc">The password must have at least 8 characters.</p>
        </li>
        <li class="password">
          <label class="pack-checkbox">
            <input type="checkbox" data-ignore name="show_password">
            <span data-l10n-id="showPassword">Show password</span>
          </label>
          <p data-l10n-id="wifi-password">Password</p>
          <input type="password" name="password" x-inputmode="verbatim" data-setting="tethering.wifi.security.password" />
        </li>
      </ul>
    </div>

    <script src="js/hotspot_wifi_settings.js"></script>

  </template>
</element>
