<element name="hotspot" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="internetSharing-header"> Internet sharing </h1>
    </header>

    <div>
      <header>
        <h2 data-l10n-id="internetSharing-wifi"> Wi-Fi </h2>
      </header>
      <ul>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="tethering.wifi.enabled" class="uninit">
            <span data-l10n-id="wifi-hotspot">Wi-Fi hotspot</span>
          </label>
        </li>
        <li class="description">
          <p data-l10n-id="internetSharing-wifi-desc">
            Allow other devices to share my phone’s Internet connection by connecting via Wi-Fi.
          </p>
        </li>
        <li>
          <a data-l10n-id="wifi-name">Name
            <span data-name="tethering.wifi.ssid"></span>
          </a>
        </li>
        <li>
          <a data-l10n-id="wifi-security">Security
            <span data-name="tethering.wifi.security.type"></span>
          </a>
        </li>
        <li id="hotspot-settings-section">
          <label>
            <button class="icon icon-view"
            data-l10n-id="hotspotSettings">Hotspot settings</button>
          </label>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="internetSharing-usb"> USB </h2>
      </header>
      <ul>
        <li>
          <label class="pack-switch">
            <input type="checkbox" name="tethering.usb.enabled" class="uninit">
            <span data-l10n-id="usb-tethering">USB tethering</span>
          </label>
        </li>
        <li class="description">
          <p data-l10n-id="internetSharing-usb-desc">
            Share my phone’s Internet connection with a USB-connected device.
          </p>
        </li>
      </ul>
    </div>

    <script src="js/hotspot.js"></script>

  </template>
</element>
