<element name="icc" extends="section">
  <template>

    <header>
      <button id="icc-stk-app-back" class="hidden">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <button id="icc-stk-help-exit" class="hidden">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <a href="#root" id="icc-stk-exit"><span data-l10n-id="back" class="icon icon-back">Back</span></a>
      <h1 id="icc-stk-header"> SIM toolkit </h1>
    </header>

    <div>
      <header>
        <h2 id="icc-stk-subheader"></h2>
      </header>

      <ul id="icc-stk-list">
      </ul>
    </div>

    <script src="js/icc.js"></script>

  </template>
</element>
