<element name="improveBrowserOS-sendFeedback" extends="section">
  <template>

  	<header>
      <a href="#improveBrowserOS-chooseFeedback" id="feedback-back-button"><span class="icon icon-back">Back</span></a>
      <h1 id="feedback-title"></h1>
    </header>
    <div>
    <ul>
      <li class="description">
        <p data-l10n-id="feedback-mood-explain">
            Please tell us in detail.
        </p>
        <textarea id="feedback-description" name="description" x-inputmode="latin-prose"></textarea>
        <p data-l10n-id="feedback-public-description">
          The content of your feedback will be public, so please be sure not to include any personal information.
        </p>
      </li>
      <li class="description">
        <label class="pack-checkbox">
          <input id="email-enable" type="checkbox" />
          <span data-l10n-id="feedback-contactyou">
            Check here to let us contact you with your email.
          </span>
        </label>
      </li>
      <li id="feedback-emailbar" class="description" hidden="false">
        <p data-l10n-id="email-address1">
          Email address:
        </p>
        <input id="feedback-email" type="email" />
        <p data-l10n-id="email-keepprivate">
          Don't worry. Your email will always be kept private.
        </p>
      </li>
      <li>
        <button id="feedback-send-btn" data-l10n-id="feedback-sendbtn">Send feedback</button>
      </li>
    </ul>
    </div>
    <form role="dialog" data-type="confirm" hidden id="feedback-alert">
      <section>
        <p>
          <strong id="feedback-alert-msg">The device is currently unable to communicate with the carrier. Try setting the preference again.</strong>
        </p>
      </section>
      <menu>
        <button class="full" id="feedback-alert-btn" data-l10n-id="ok">OK</button>
      </menu>
    </form>
    <form role="dialog" data-type="confirm" hidden id="feedback-done">
      <section>
        <p>
          <strong data-l10n-id="feedback-done-msg">Thanks for the feedback! We will use it to help us create a better experience in future releases of Firefox OS.</strong>
        </p>
      </section>
      <menu>
        <button id="feedback-done-btn" class="full" data-l10n-id="done">Done</button>
      </menu>
    </form>

  </template>
</element>
