<element name="messaging" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="messagingSettings-header"> Messaging settings </h1>
    </header>

    <div>
      <header>
        <h2 data-l10n-id="message-confirmation"> Message confirmation </h2>
      </header>
      <ul id="general-message-list">
        <li id="menuItem-deliveryReport" aria-disabled="true" class="hint">
          <label class="pack-switch">
            <input type="checkbox" name="ril.sms.requestStatusReport.enabled"/>
            <span data-l10n-id="message-delivery-reports">Delivery reports</span>
          </label>
          <p class="explanation" data-l10n-id="message-delivery-reports-details">Request notification of delivery for each message sent</p>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="mmsTitle"> Multimedia messaging (MMS) </h2>
      </header>
      <ul class="mmsSettings-list">
        <li id="menuItem-autoRetrieve" aria-disabled="true" class="hint">
          <a data-l10n-id="auto-retrieve">Auto retrieve</a>
          <p class="explanation" data-l10n-id="auto-retrieve-details">automatically retieve messages</p>
          <span class="button icon icon-dialog">
            <select name="ril.mms.retrieval_mode">
              <option value="manual" data-l10n-id="manual-retrieve">Off</option>
              <option value="automatic" data-l10n-id="auto-roaming-retrieve">On with roaming</option>
              <option value="automatic-home" data-l10n-id="auto-no-roaming-retrieve">On without roaming/option>
            </select>
          </span>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="wapPushMessages"> WAP push messages </h2>
      </header>
      <ul>
        <li id="menuItem-wapPush" aria-disabled="true">
          <label class="pack-switch">
            <input type="checkbox" name="wap.push.enabled"/>
            <span data-l10n-id="wapPush">WAP push</span>
          </label>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="cellBroadcastMessages"> Cell broadcast messages (MMS) </h2>
      </header>
      <ul>
        <li id="menuItem-cellBroadcast" aria-disabled="true">
          <label class="pack-switch checkbox-label">
            <input type="checkbox" data-ignore disabled />
            <span data-l10n-id="cellBroadcast">Cell broadcast</span>
          </label>
        </li>
      </ul>
    </div>

    <script src="js/messaging.js"></script>

  </template>
</element>
