<element name="notifications" extends="section">
  <template>

    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="notifications-header"> Notifications </h1>
    </header>

    <div>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="lockscreen.notifications-preview.enabled" checked>
            <span data-l10n-id="lockscreen-notifications">Show on lock screen</span>
          </label>
        </li>
      </ul>
    </div>

  </template>
</element>
