<element name="phoneLock-passcode" extends="section">
  <template>

    <header>
      <a href="#phoneLock"><span class="icon icon-back">back</span></a>
      <menu type="toolbar" data-mode="new">
        <button id="passcode-change" data-l10n-id="change">Change</button>
      </menu>
      <menu type="toolbar" data-mode="create">
        <button id="passcode-create" data-l10n-id="create">Create</button>
      </menu>
      <h1 data-l10n-id="passcode-heading" data-mode="create">Passcode</h1>
      <h1 data-l10n-id="current-passcode" data-mode="edit">Current passcode</h1>
      <h1 data-l10n-id="new-passcode" data-mode="new">New passcode</h1>
      <h1 data-l10n-id="enter-passcode" data-mode="confirm,confirmLock">Enter passcode</h1>
    </header>

    <div class="passcode-overlay">
      <input type="number" x-inputmode="digit" id="passcode-input" />
      <div class="passcode-container" id="passcode-container">
        <div class="passcode" id="passcode-pseudo-input">
          <label data-l10n-id="create-a-passcode" data-mode="new,create">Create a passcode</label>
          <label data-l10n-id="passcode" data-mode="confirm,confirmLock,edit">Passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode" data-mode="new,create" id="passcode-pseudo-confirm-input">
          <label data-l10n-id="confirm-passcode" data-mode="new,create">Confirm passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode-error" data-l10n-id="incorrect-passcode" data-type="incorrect">Incorrect passcode!</div>
        <div class="passcode-error" data-l10n-id="passcode-doesnt-match" data-type="mismatch">Passcode doesn't match. Try again!</div>
      </div>
    </div>

  </template>
</element>
