<element name="wifi-manageNetworks" extends="section">
  <template>

    <header>
      <button type="reset"><span data-l10n-id="back" class="icon icon-back">Back</span></button>
      <h1 data-l10n-id="manageNetworks-header"> Manage networks </h1>
    </header>

    <div>
      <ul>
        <li>
          <small data-name="deviceinfo.mac"></small>
          <a data-l10n-id="macAddress"> MAC address </a>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="knownNetworks"> Known networks </h2>
      </header>
      <ul id="wifi-knownNetworks">
      </ul>

      <header>
        <h2 data-l10n-id="hiddenNetworks"> Hidden networks </h2>
      </header>
      <ul>
        <li>
          <label>
            <button id="joinHidden"
                    class="icon icon-view"
                    data-l10n-id="joinHiddenNetwork">
              Join hidden networks
            </button>
          </label>
        </li>
      </ul>
    </div>

    <form role="dialog" data-type="confirm" hidden>
      <section>
        <h1 data-l10n-id="forgetNetwork-confirmation">Confirmation</h1>
        <p data-l10n-id="forgetNetwork-dialog">Forget network?</p>
      </section>
      <menu>
        <button data-l10n-id="cancel" type="reset">Cancel</button>
        <button data-l10n-id="device-option-confirm" id="confirm-option" class="danger">Confirm</button>
      </menu>
    </form>

  </template>
</element>
